<!DOCTYPE html>
<html>
<head>
    <title>Add Watch</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-5" style="max-width:500px">
    <h3 class="mb-4">Add New Watch</h3>

    <form method="POST" enctype="multipart/form-data">
        <input name="brand" class="form-control mb-3" placeholder="Brand" required>

        <input name="model" class="form-control mb-3" placeholder="Model" required>

        <input name="price" class="form-control mb-3" placeholder="Price" required>

        <!-- ✅ OPTIONAL DISCOUNT -->
        <input name="discount_price" class="form-control mb-3"
           placeholder="Discount Price (optional)">

        <input name="category" class="form-control mb-3" placeholder="Category" required>
        <textarea name="description" 
          class="form-control mb-3" 
          rows="4" 
          placeholder="Write Watch Description..." 
          required></textarea>
        <input type="file" name="image" class="form-control mb-3" required>

        <!-- ✅ MULTIPLE EXTRA IMAGES -->
        <input type="file" name="images" class="form-control mb-3" multiple>
        <input type="file" name="images" class="form-control mb-3" multiple>


        <button class="btn btn-danger w-100">Add Watch</button>
    </form>

    {% if error %}
        <div class="alert alert-danger mt-3">{{ error }}</div>
    {% endif %}

    <a href="/admin/dashboard" class="btn btn-secondary w-100 mt-3">Back</a>
</div>

</body>
</html>
